{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div>
    <h4>작성자 : {{user}}</h4>
</div>

<div style="width:500px; margin:0px auto;" class="container ">

    <h3>게시글 작성</h3>
    <br>
    <div style="border:1px solid gray; "></div>
    <br><br>
    <form method="POST"  enctype="multipart/form-data">

        <div class="form-group">
            {% csrf_token %}
            <label>제목</label>

            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"
                   placeholder="제목을 입력하세요.">
        </div>
        <div class="form-group">
            <label>내용</label>
  
            <input type="text" class="form-control" name="content" id="content" aria-describedby="emailHelp"
                   placeholder="내용을 입력하세요."   style="height: 400px; padding-bottom: 400px">
        </div>


<!--            <div class="form-group">-->
<!--                <input type="file" name="files" class="form-control-file" id="exampleFormControlFile1">-->
<!--            </div>-->


        <input class="btn btn-dark rounded-pill col-12" type="submit" value="작성하기">
    </form>

</div>


{% endblock %}