{% extends "base.html" %}

{% block content %}


<div class="row mt-5">
    <div class="col-12">
        <div style="max-width:500px; margin-left:auto; margin-right:auto;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">제목 : {{ board.title }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>작성자 : {{ board.user }}</td>
                </tr>
                 <tr >
                    <td>작성 일자 : {{ board.board_time }}</td>
                </tr>
                <tr style="height:300px;">
                    <td>{{ board.content }}</td>
                </tr>

                <tr>
                    <td>{% if board.upload_files %}
                        <div class="col-12 text-right">
                            <span>첨부파일 :&nbsp;</span>
                            <a href="{% url 'board_download' board.list_num %}">{{ board.filename}}</a>
                        </div>
                        {% endif %}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div style="text-align:center; max-width:500px; margin-left:auto; margin-right:auto;">
 <form id="frm_excel" name="frm_excel" enctype="multipart/form-data">



        <a class="btn"href="{% url 'ex_download' board.list_num %}">엑셀 파일 업로드</a>

 </form>


    <td>

        {% if user.is_authenticated %}
        <button class="btn btn-secondary btn-sm rounded-pill"
                onclick="location.href='update/{{board.pk}}'">수정
        </button>
        {% endif %}
    </td>
</div>
{% endblock %}

