{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container" style="max-width:500px;">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form boardForm %}
        <table>
<!--            {{form.as_table}}-->
<!--            <div class="form-group">-->
<!--                <input type="file" class="form-control-file" id="exampleFormControlFile1">-->
<!--            </div>-->
        </table>
        <input class="btn btn-dark rounded-pill col-12" type="submit" value="수정하기">
    </form>

</div>

{% endblock %}